#presentacion {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    background-image: url(assets/fffondo.jpg);
    background-repeat: no-repeat;
}

.proyecto {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
a{
    text-decoration: none;
}
#proyecto1 {
    background-image: url(assets/Desarrollo_sostenible.jpg);
    text-decoration: none;
}

#proyecto1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
}

#proyecto2 {
    background-image: url(assets/googlebb.jpeg);
    text-decoration: none;
}

#proyecto2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
}
#proyecto3 {
    background-image: url(assets/pokemon.jpeg);
    text-decoration: none;
}

#proyecto3::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
}
.front,
.back {
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transition: transform 0.5s;
}

.front {
    transform: rotateY(0deg);
}

.back {
    justify-content: center;
    transform: rotateY(180deg);

}

.pryani:hover .front {
    transform: rotateY(-180deg);
}

.pryani:hover .back {
    transform: rotateY(0deg);

}

.nitf a:hover {
    font-size: 20px;
}

.navbar {
    height: 75px;
}

.nav-item a:hover {
    font-size: 20px;
}
